@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Lora&subset=latin,latin-ext);
/*@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Quintessential&subset=latin,latin-ext);*/
a:link,
a:visited {
    text-decoration: none;
    color: crimson;
}
a:hover {
    text-decoration: none;
    color: gold;
}
body {
    /*background-image: url(images/gw-shadow.jpg);*/
    background-position: center 75;
    background-repeat: no-repeat;
    background-color: white;
    color: #444444;
    font-family: 'Lora', cursive;
    font-size: 20px;
    line-height: 1.8;
}
#quickindex {
    font-size: 16px;
    line-height: 1.8;
}
h1, h2 {
    font-weight: normal;
}
div.c2 {
    padding: 10px;
    text-align: justify;
    font-weight: normal;
}
img.c1 {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid white
}
table.tabindex td {
    border 1px solid white;
    padding: 10px;
}
#default-content {
    padding: 0 1em;
    font-family: 'Lora', cursive;
    font-size: 20px;
    line-height: 1.8;
    font-weight: normal;
}
#default-content h1 {
    text-transform: capitalize;
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    font-weight: normal;
}
#default-content h2 {
    text-transform: capitalize;
    font-family: 'IM Fell English SC', serif;
    font-weight: normal;
}
#default-content p {
    font-family: 'Lora', cursive;
}
#default-content ul {
    font-family: 'Lora', cursive;
}
#content-index h1 {
    text-transform: capitalize;
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
#content-index h2 {
    text-transform: capitalize;
    font-family: 'IM Fell English SC', serif;
    font-weight: normal;
}
#content-index p {
    font-family: 'Lora', cursive;
    /*font-size: 24px;*/
}
#content-index ul {
    font-family: 'Lora', cursive;
    /*font-size: 20px;*/
}
#tgw-title {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 60px;
    color: #fff080;
}
#tgw-subtitle {
    font-family: 'IM Fell English SC', serif;
}
h2.back-link {
    text-transform: capitalize;
    font-family: 'IM Fell English SC', serif;
    font-weight: normal;
}
pre {
    font-family: monospace;
    line-height: 1.5;
    font-size: 12px;
}
div.chord-view {
    line-height: 1.5;
    white-space: pre;
    font-family: monospace;
    font-size: 12px;
}
